$one: #0B132B;
$one-invert: findColorInvert($one);

$two: #1C2541;
$two-invert: findColorInvert($two);

$three: #406E8E;
$three-invert: findColorInvert($three);

$four: #8EA8C3;
$four-invert: findColorInvert($four);

$five: #CBF7ED;
$five-invert: findColorInvert($five);